body {
    box-sizing: border-box;
    margin: 0;
  }

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    height: 500px;
    width: 800px;
    background-color:gray;
}

/* Slides */

.slides {
    order: 2;
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slides-container {
    display: flex;
}

.slide {
    width: 700px;
    height: 300px;
    background-color:cornflowerblue;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#slide-image1 {
    z-index: 1;
    background-image: url('images/1.jpg');
}

#slide-image2 {
    z-index: 2;
    background-image: url('images/2.jpeg');
}

#slide-image3 {
    z-index: 3;
    background-image: url('images/3.png');
}

#slide-image4 {
    z-index: 4;
    background-image: url('images/4.jpeg');
}

/* Captions */

.captions {
    display: flex;
    justify-content: flex-start;
    order: 2;
    width: 350px;
}

/* Navigation */

.navigation {
    order: 3;
    display: flex;
    justify-content: right;
    width: 350px;
}

.bullet {
    display: block;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    background-clip: content-box;
    background-color: cornflowerblue;
    outline: 2px solid cornflowerblue;
    outline-offset: -12px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.bullet:hover {
    outline-color: blue;
}

.bullet:active {
    background-color: blue;
}

input:checked + .bullet {
    background-color: transparent;
}

input {
    display: none;
    visibility: hidden;
}

/* Change Slide */

 .navigation:has(#bullet1:checked) ~ .slides .slides-container {
    transform: translateX(0);
}
  
.navigation:has(#bullet2:checked) ~ .slides .slides-container {
    transform: translateX(-700px);
}
  
.navigation:has(#bullet3:checked) ~ .slides .slides-container {
    transform: translateX(-1400px);
}
  
.navigation:has(#bullet4:checked) ~ .slides .slides-container {
    transform: translateX(-2100px);
}
